{% extends 'musicApp/layout.html' %}
{% block title %} HOME {% endblock %}
{% block content %}
{% load static %}
<div class="row">
    <div class="thumbnail" style="background-color: black; color: white; border-radius: 25px;">
    <h5 style="text-align: center">
        "Music doesn't lie.
        If there is something to be changed in this world, then it can only happen through music."
    </h5>
    <h4 style="text-align: center">- Jimi Hendrix</h4>
</div>
</div>
<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
        <img src="{% static 'images/mPandora.png' %}" width="60%" style="margin-left: auto; margin-right: auto; border-radius: 45px">
    </div>

</div>
<div style="position: fixed; left: 0; bottom: 0; width: 100%; background-color: black; color: white; text-align: center;">
    <h6>Developed by Kaustubh (kaustubhkrishna9031@gmail.com)</h6>
    <h6>Under supervision of Mohit (IT Analyst @<a href="https://www.caterpillar.com/" target="_blank">Caterpillar</a>)</h6>
    <h6>& guidance of Umakant Mane (Developer & Trainer @<a href="https://www.mytectra.com/" target="_blank">MyTectra</a>)</h6>
</div>
{% endblock %}
